<% messages.last(5).each do |message| %>
  <%# <% if message.user == current_user %>
    <%# <div class="me">
     %> %>
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.username %></span>
      <small>    <%= distance_of_time_in_words(Time.now -  message.created_at) + ' ago' %></small>
    </i>
    <p><%= message.content %></p>
  </div>
<% end %>