.article-info {
  margin-bottom: 5px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom:20px;
}

.article-title{
  margin-bottom: 5px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom:20px;
  display:flex;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}
.new-rating {
  padding: 20px;
  margin-top: 100px;
}

.whole-article-beggining{
  display: flex;
}

.article-political {
  display:flex;
  justify-content: space-between;
  margin-right:20px;
  align-items: baseline;
}

.article-content{
  padding-top:20px;
  padding-bottom:30px;
  width: 1100px;
  margin: 0 auto;
}

.article-date-writer {
  align-content: space-between;
}

.leave-comment {
  margin-top:30px;
  margin-bottom: 30px;
}

.rating-thank-you {
  display:none;
  text-align:center;
  margin-top:50px;
}

.container {
  height: 100%;
}


.political-newspaper-img{
  display:flex;
    i {
      margin-top: 10px;
      margin-bottom: 10px;

    }
    img {
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 4px;
      margin-bottom: 10px;
          }
}


.progress {
  width: 250px;
  height: 50px;
  background-color: #DBDBDB;
}

.objectiveness {
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  p {
  display: flex;
  justify-content: center;
  }
}

#line-division {
  margin-bottom: 1px solid #DBDBDB;
  margin-top: 10px;
}

#photo-rating {
  display:flex;
  margin-top: 20px;
}

#object-and-user-rating{
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}

.social-share a {
  font-size:20px;
  border-radius:50%;
  border: 1px solid #DBDBDB;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #DBDBDB;

}

.social-share a:hover{
  color: black;
  border: 1px solid black;

}

.social-share{
  margin-top:20px;
}

.form-rating{
  margin-left:10px;
  margin-top:10px;
}


