.index-all{
  width:1300px;
  margin: 0 auto;
}

.first-2 {
  width: 370px;
  margin-bottom: 20px;
}

#first-row{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap:20px;
  border-bottom: 1px solid #DBDBDB;
}

.right-2 {
  width: 370px;
  margin-bottom:20px;
}

.middle-card {
  border-right: 1px solid #DBDBDB;
  width: 520px;
}

.each-card:last-child{
  border-top: 1px solid #DBDBDB;
    img {
      margin-top: 20px;
    }
}

.third {
  padding-left: 20px;
  border-left: 1px solid #DBDBDB;
}
