.card-photo{
  width: 350px;
  height:250px;
}

.first-two{
  border-right: 1px solid black;
  width: 370px;
  margin: 30px;
}

.each-first-column{
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.index {
  width: 1300px;
  margin: 0 auto;
}

