.article-info {
  border-right: 2px solid black;
  padding: 20px;
  margin: 20px;
  width: 1000px;
}

.new-rating {
  padding: 20px;
  margin: 20px;
}

.whole-article-beggining{
  display: flex;
}

.article-political {
  display:flex;
  justify-content: space-between;
  margin-right:20px;
  align-items: baseline;
}

.article-content{
  padding-top:100px;
  padding-bottom:100px;
}

.article-date-writer {
  align-content: space-between;
}
