.index-all{
  width:1350px;
      a{
        text-decoration: none;
        color: black;
      }
      img {
        object-fit: cover;
      }
}

.first-2 {
  width: 370px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#first-row{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 20px;
      a {
        text-decoration: none;
        color: black;
    }
}

.right-2 {
  width: 370px;
  margin-bottom:20px;
}

.middle-card {
  width: 520px;
}

.each-card:last-child{
  border-top: 1px solid #DBDBDB;
    img {
      margin-top: 20px;
    }
}

.third {
  border-right: 1px solid #DBDBDB;
  padding-left: 20px;
  border-left: 1px solid #DBDBDB;
}

.second-row {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;

}

.fifth-sixth-seventh{
  width: 620px;
  border-right: 1px solid #DBDBDB;
  margin-bottom:20px;
}

.ninth-tenth{
  margin-bottom:20px;
}

.second-card{
  border-bottom: 1px solid #DBDBDB;
  margin-bottom:20px;
  margin-right: 20px;
}

.second-card:last-child{
  border-bottom: 0px solid #DBDBDB;

}

.big-eight-card:last-child{
  border-top: 1px solid #DBDBDB;
    img{
      margin-top:20px;
    }
}


