#card-topic a {
    text-decoration: none;
    color: black;
    &:hover {
        color: grey
    }
}

#text {
    padding-left: 35px;
}

#card-topic {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

#createBtn {
    margin-left: 25px;
    margin-top: 25px;
}

body > div.mytopics > div {
    max-height: 50vh;
    overflow-y: auto;
}

#titre {
    padding-left: 10px;
}

#topic-icons{
  margin-right: 20px;
  width: 100%
}

#info-card-topic{
  width: 900px;
}

.card-product-tag {
    width: 110px;
    height: 80px;
}