#info {
    display: flex;
    justify-content: space-between;
}

h6 {
    font-weight: 800;
}

#user-show {
    border-right: 1px solid black;
    padding-right: 110px;
}

.last-item {
    padding-right: 80px;
}

#bio {
    border-top: 1px solid darkgrey;
    padding-left: 15%;
    padding-top: 10px;
}

#accordion {
    width: 60vw;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
}

.pic {
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#edit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

body > div.row > div.pic > div.row > img {
    height: 500px;
    width: 400px;
}

#headingOne > h5 > button {
    text-decoration: none;
    color:black;
    font-weight: 900;
}

#headingTwo > h5 > button {
    text-decoration: none;
    color:black;
    font-weight: 900;
}

#headingThree > h5 > button {
    text-decoration: none;
    color:black;
    font-weight: 900;
}
.card-header-2 {    text-decoration: none;
    color:black;
    font-weight: 900;
}

#info {
    list-style: none;
}

.all-user-profil{
    display:flex;
}

.card-body-2{
  overflow-y: scroll;
  height: 300px;
  margin-right:20px;
  margin-left:20px;
}

.card-body-1{
  overflow-y: scroll;
  height: 300px;
  margin-top: 20px;
  margin-right:20px;
  margin-left:20px;
}
