#back a {
    text-decoration: none;
    color: black;
    &:hover {
        color: grey;
    }
}

#photo {
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}

#chat {
    margin-top: 25px;
}

#content {
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}