<button type="button" id="createBtn" class="btn btn-ghost" data-toggle="modal" data-target="#modalPoll-1">Create a new topic</button>

<div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Create your topic..</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-newspaper fa-4x mb-3 animated rotateIn"></i>
          <p>
            <strong>New Topic Title</strong>
            <textarea type="string" id="title" class="md-textarea form-control" rows="1"></textarea>
          </p>
        </div>

        <hr>
        <p class="text-center">Try to write a detailed topic description, with a well explained subject, a problematic and what solutions you may have think of..</p>
        <div class="md-form">
          <textarea type="text" id="content" class="md-textarea form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-ghost waves-effect waves-light" id="send">Create
          <i class="fa fa-paper-plane ml-1"></i>
        </a>
        <a type="button" class="btn btn-ghost waves-effect" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = getElementById("send");
    modal.addEventListener('click',() => {

    function getTitle() {
      const title = document.getElement.id("title").value
      console.log(title)
  };
    function getText() {
      const content = document.getElement.id("content").value
      console.log(content)
  });
  };
</script>

<div class="title-card-sections">
  <h1 class="text-center mb-4">We're always all ears - join in!</h1>
</div>
<div class="all-articles-results">
  <% @topics.each do |topic|%>
    <div class="card-product">
        <% if topic.photo.attached?%>
            <%= cl_image_tag @topic.photo.key, height: 150, width: 200, crop: :fill %>
        <% else %>
            <img src="https://images.unsplash.com/photo-1495020689067-958852a7765e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=150&q=80", alt="newspapers image">
        <% end %>
      <div class="card-product-infos">
        <h2><%= link_to topic.subject, topic_path(topic) %></h2>
        <p><%= link_to topic.content.first(180), topic_path(topic) %></p>
      </div>
    </div>
    <% end %>
</div>
