<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <% @topics.each do |topic|%>
                <div>
                    <%= link_to topic.subject, topic_path(topic) %>
                </div>
            <% end %>
        </div>
    </div>
</div>