<body>
  <div class="footer">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-2 offset-md-1 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Our History</a></li>
              <li><a href="#">Staff</a></li>
              <li><a href="#">Be a moderator</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-2 item">
            <h3>Contact</h3>
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">All Ears Partners</a></li>
              <li><a href="#">Press</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-2 item">
            <h3>Main Partners</h3>
            <ul>
              <li><a href="#">New York times</a></li>
              <li><a href="#">BBC</a></li>
              <li><a href="#">CNN</a></li>
              <li><a href="#">VOX</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-2 item">
            <h3>Subscription</h3>
            <ul>
              <li><a href="#">Purchase</a></li>
              <li><a href="#">Give a gift</a></li>
              <li><a href="#">Manage subcription</a></li>
              <li><a href="#">Download iOS App</a></li>
              <li><a href="#">Newsletter</a></li>

            </ul>
          </div>
          <div class="col-sm-6 col-md-2 item">
            <h3>Beatles</h3>
            <ul>
             <li><a href="#">John</a></li>
              <li><a href="#">Ringo</a></li>
              <li><a href="#">Paul</a></li>
              <li><a href="#">Georges</a></li>
            </ul>
          </div>

        </div>


        <div class="col item social">

          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </div>
