<%=link_to (searches_path) do  %>

    <div class="logo">
    <div class="perspective-text">
      <div class="perspective-line">
        <p></p>
        <p>All Ears</p>
      </div>
      <div class="perspective-line">
        <p>All Ears</p>
        <p>To all sides</p>
      </div>
      <div class="perspective-line">
        <p>To all sides</p>
        <p>Of the</p>
      </div>
      <div class="perspective-line">
        <p>Of the</p>
        <p>Narrative</p>
      </div>
      <div class="perspective-line">
        <p>Narrative</p>
        <p></p>
      </div>
      <%= link_to'Log in', new_user_session_path, class: "white-login" %>
      </div>
    </div>
  <%  end  %>
