<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <% @topics.each do |topic|%>
                <%= topic.subject %>
            <% end %>
        </div>
    </div>
</div>