<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sliding Perspective</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  </head>
  <body>

    <div class="perspective-text">
      <div class="perspective-line">
        <p></p>
        <p>All Ears</p>
      </div>
      <div class="perspective-line">
        <p>All Ears</p>
        <p>To all side</p>
      </div>
      <div class="perspective-line">
        <p>To all side</p>
        <p>Of the</p>
      </div>
      <div class="perspective-line">
        <p>Of the</p>
        <p>Narrative</p>
      </div>
      <div class="perspective-line">
        <p>Narrative</p>
        <p></p>
      </div>
    </div>

    <div class="container">
    <div class="box">

        <div class="title">
            <span class="block"></span>
            <h1>All Ears<span></span></h1>
        </div>

        <div class="role">
            <div class="block"></div>
            <p>Click to enter</p>
        </div>

    </div>
</div>


  </body>
</html>
